<a href="https://colab.research.google.com/github/willcooper5/BTE-320/blob/main/Adding_to_Dict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
grades = {
    'Alice': 91,
    'Bob': 88,
    'Tracy': 93,
    'Erik': 90
}

In [10]:
for key in grades.key():
  print(key)

Alice
Bob
Tracy
Erik

In [7]:
for value in grades.values():
  print(value)

91
88
93
90

In [15]:
for key, value in grades.items():
  print(key, value)

Alice 91
Bob 88
Tracy 93
Erik 90

In [20]:
months = {1: "January", 2: "February", 3: "March"}

print(f'The first month in a year is {months[1]}')

The first month in a year is January

In [64]:
months = {}
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]
names = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

for num in numbers:
  months[num] = names[num - 1]

print(months)

{1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Aug', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dec'}