<a href="https://colab.research.google.com/github/willcooper5/BTE-320/blob/main/List_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
L = [1,'two',3.14,print,[5,7,9]]
print(len(L))

5

In [ ]:
len(L)
print(L[:3])
print(L[3:])

[1, 'two', 3.14]
[<built-in function print>, [5, 7, 9]]

In [ ]:
L + ['three', 9.99, 0]

[1, 'two', 3.14, <function print>, [5, 7, 9], 'three', 9.99, 0]

In [ ]:
### print(3.1 * ['three',9.99,0])
### You can not multiply a list by a float
print(3 * ['three',9.99,0])

['three', 9.99, 0, 'three', 9.99, 0, 'three', 9.99, 0]

In [ ]:
print(L)

[1, 'two', 3.14, <built-in function print>, [5, 7, 9]]

In [ ]:
print(L)
L[3] = 'b'
print(L)

[1, 'two', 3.14, 'b', [5, 7, 9]]
[1, 'two', 3.14, 'b', [5, 7, 9]]

In [ ]:
for index in range(len(L)):
  print(L[index])

1
two
3.14
b
[5, 7, 9]

In [ ]:
L_outer = [[1,2,3],[4,5,6]]
print(L_outer)

[[1, 2, 3], [4, 5, 6]]

In [ ]:
l_inner = L_outer[1]

In [ ]:
l_inner[0] = 7
print(l_inner)

[7, 5, 6]

In [ ]:
L_outer[1][0] = 7
print(L_outer)

[[1, 2, 3], [7, 5, 6]]

In [3]:
L = [1,'two',3.14,print,[5,7,9]]

In [4]:
L + ['three']

[1, 'two', 3.14, <function print>, [5, 7, 9], 'three']

In [16]:
L.extend(['three', 4])
print(L)

[1, 'two', 3.14, <built-in function print>, [5, 7, 9], 'three', '4', ['three', 4], 'three', 4, 'three', 4, 'three', 4, 'three', 4, 'three', 4, 'three', 4]

In [18]:
L = [1, 'two', 3.14, print, [5, 7, 9], 'three', '4']

In [20]:
L.pop(2)
L

[1, 'two', <function print>, [5, 7, 9], 'three']

In [30]:
L = []

number = int(input('Enter a value: '))
while number != 0:
  L.append(number)
  number = int(input('Enter a value: '))
print(L)

Enter a value: 2
Enter a value: 3
Enter a value: 4
Enter a value: 6
Enter a value: 7
Enter a value: 0
[2, 3, 4, 6, 7]