<a href="https://colab.research.google.com/github/willcooper5/BTE-320/blob/main/List_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
L = [1,'two',3.14,print,[5,7,9]]
print(len(L))

5

In [25]:
len(L)
print(L[:3])
print(L[3:])

[1, 'two', 3.14]
[<built-in function print>, [5, 7, 9]]

In [26]:
L + ['three', 9.99, 0]

[1, 'two', 3.14, <function print>, [5, 7, 9], 'three', 9.99, 0]

In [28]:
### print(3.1 * ['three',9.99,0])
### You can not multiply a list by a float
print(3 * ['three',9.99,0])

['three', 9.99, 0, 'three', 9.99, 0, 'three', 9.99, 0]

In [29]:
print(L)

[1, 'two', 3.14, <built-in function print>, [5, 7, 9]]

In [33]:
print(L)
L[3] = 'b'
print(L)

[1, 'two', 3.14, 'b', [5, 7, 9]]
[1, 'two', 3.14, 'b', [5, 7, 9]]

In [35]:
for index in range(len(L)):
  print(L[index])

1
two
3.14
b
[5, 7, 9]

In [37]:
L_outer = [[1,2,3],[4,5,6]]
print(L_outer)

[[1, 2, 3], [4, 5, 6]]

In [41]:
l_inner = L_outer[1]

In [42]:
l_inner[0] = 7
print(l_inner)

[7, 5, 6]

In [45]:
L_outer[1][0] = 7
print(L_outer)

[[1, 2, 3], [7, 5, 6]]